
<div class="containter-fluid">
  <div id="game-view">
    <div class="row">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <h2 class="navbar-right">score: 10pts</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <h1>Human or Robot?</h1>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4"><img src="assets/placeholder.jpg" class="img-responsive img-circle"></div>
    </div>
    <div class="row">
      <button class="btn btn-large btn-success">Human</button>
      <button class="btn btn-large btn-warning">Robot</button>
    </div>
  </div>
</div>