
<div class="container-fluid">
  <div id="answer-modal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p>You answered Human</p>
          <p>The answer is Robot</p>
        </div>
        <div class="modal-body">
          <p>You were incorrect!</p>
          <p>2 pts deducted</p>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>