@import '../public/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

#home-view {
  padding-top: 70px;
  background-image: url('assets/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 12%;

  h1 {
    font-size: 8rem;
  }

  button {
    padding: 2% 10%;
    border-radius: 30px;
    font-size: 2rem;
  }

}

#game-view {
  padding-top: 70px;
  text-align: center;

  button {
    padding: 2% 10%;
    border-radius: 30px;
    font-size: 2rem;
  }

  img {
    padding: 10%;
    margin: 8%;
  }
}
