.container-fluid
  #answer-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='answerModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          p You answered Human
          p The answer is Robot
        .modal-body
          p You were incorrect!
          p 2 pts deducted
        .modal-footer
          button.btn.btn-default(data-dismiss='modal') Next
      
