.container-fluid
  #answer-modal.modal(tabindex='-1' role='dialog' aria-labelledby='answerModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header(ng-repeat='image in images' ng-show='show == $index')
          H1 You answered: {{choice}}
          H1 The answer is: {{image.hof}}
          H2 {{image.des}}
        .modal-body
          H1 {{result}}
        .modal-footer
          button.btn.btn-default(data-dismiss='modal' ng-click='nextImage()') Next
