.container-fluid
  #answer-modal.modal(tabindex='-1' role='dialog' aria-labelledby='answerModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header(ng-repeat='image in images' ng-show='show == $index')
          p You answered {{choice}}
          p The answer is {{image.hof}}
        .modal-body
          p You were incorrect!
          p 2 pts deducted
        .modal-footer
          button.btn.btn-default(data-dismiss='modal' ng-click='nextImage()') Next
      
